# Welcome to lab k-means(karle)!

We will be exploring k-means clustering! 
I promise this won't be scary :)

Really, loops are an incredibly useful tool that will help you code for other purposes in life. We're going to start by introducing you to while and for loops and then we will apply them to clustering.

## Part 1: Import the libraries and data sets you need

### Libraries

To complete this lab, you will need two libraries:

1. `pandas`, which I **know** you know how to import :)
2. The `KMeans` model, which can be imported with `from sklearn.cluster import KMeans`

### Datasets

Additionally, you be using the beer dataset.  Here is the direct link to the CSV dataset: http://courses.las.illinois.edu/spring2020/stat107/static/data/beer-dataset.csv

Make sure to load the dataset into Python! :)

In [47]:
# Import libraries:
import pandas as pd
from sklearn.cluster import KMeans

# Load dataset:
df = pd.read_csv("beer-dataset.csv")
df

,Brand,Brewery,PercentAlcohol,Calories,Carbohydrates
0,Anchor Steam,Anchor,4.9,153,16.0
1,Anheuser Busch Natural Light,Anheuser Busch,4.2,95,3.2
2,Anheuser Busch Natural Ice,Anheuser Busch,5.9,157,8.9
3,Aspen Edge,Adolph Coors,4.1,94,2.6
4,Blatz Beer,Pabst,4.8,153,12.5
...,...,...,...,...,...
80,Yuengling Ale,D. G. Yuengling,5.0,145,10.0
81,Yuengling Porter,D. G. Yuengling,4.5,150,14.0
82,Yuengling Premium Beer,D. G. Yuengling,4.4,135,12.0
83,Yuengling Light,D. G. Yuengling,3.8,98,6.6
84,Yuengling Lager,D. G. Yuengling,4.4,135,12.0

## Part 1.1: EDA - Let's do some statistics! :)

Before going any further, let's find out a few basic statistics about the dataset.

- Use `df.describe()` to find basic EDA about the dataset.  Store the EDA table into `df_eda` below.
- Use `df.corr()` to find the correlation between data in the dataset.  Store the correlation table in `df_corr` below.

In [48]:
df_eda = df.describe()
df_eda

       PercentAlcohol    Calories  Carbohydrates
count       85.000000   85.000000      85.000000
mean         4.810588  141.894118      11.041176
std          0.586358   26.846576       4.248397
min          3.800000   94.000000       2.600000
25%          4.400000  114.000000       7.300000
50%          4.700000  146.000000      12.000000
75%          5.000000  157.000000      13.700000
max          6.500000  210.000000      23.900000

In [49]:
df_corr = df.corr()
df_corr

                PercentAlcohol  Calories  Carbohydrates
PercentAlcohol        1.000000  0.763589       0.418460
Calories              0.763589  1.000000       0.854535
Carbohydrates         0.418460  0.854535       1.000000

In [50]:
## == TEST CASES for Puzzle 1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert('Carbohydrates' in df_eda), "Make sure you've done EDA"
assert('Carbohydrates' in df_corr), "Make sure you've done correlation"

print("Congrats!ðŸŽ‰ðŸ˜Š All tests passed!")

Congrats!ðŸŽ‰ðŸ˜Š All tests passed!

## Part 2: Beer Dataset Clustering!

Similar to what you did in lecture this week, we are going to be looking at the dataset Karle found! The dataset has these five variables:

- Brand
- Brewery
- PercentAlcohol
- Calories
- Carbohydrates

In lecture you found the regression equation for predicting Calories from PercentAlcohol and Carbohydrates. Now, we are going to cluster the dataset using `KMeans`.

### Part 2a: Create and Fit a KMeans model

1. Create the model with **two** clusters
2. Fit your model with your data

Each of these two steps are just one line of code, for two lines of code below:

In [51]:
model = KMeans( n_clusters = 2 )
model = model.fit( df[ ['PercentAlcohol', 'Calories', 'Carbohydrates'] ] )

### Part 2b: Label data with a cluster

Use the model you created a fit to create a new column that contains the predicted cluster:

In [52]:
df['cluster'] = model.predict( df[ ['PercentAlcohol', 'Calories', 'Carbohydrates'] ] )
df

,Brand,Brewery,PercentAlcohol,Calories,Carbohydrates,cluster
0,Anchor Steam,Anchor,4.9,153,16.0,0
1,Anheuser Busch Natural Light,Anheuser Busch,4.2,95,3.2,1
2,Anheuser Busch Natural Ice,Anheuser Busch,5.9,157,8.9,0
3,Aspen Edge,Adolph Coors,4.1,94,2.6,1
4,Blatz Beer,Pabst,4.8,153,12.5,0
...,...,...,...,...,...,...
80,Yuengling Ale,D. G. Yuengling,5.0,145,10.0,0
81,Yuengling Porter,D. G. Yuengling,4.5,150,14.0,0
82,Yuengling Premium Beer,D. G. Yuengling,4.4,135,12.0,0
83,Yuengling Light,D. G. Yuengling,3.8,98,6.6,1
84,Yuengling Lager,D. G. Yuengling,4.4,135,12.0,0

### Part 2c: Explore the Clusters

Find out what beers appear in `cluster` `1`.  Store those in df_cluster1:

In [53]:
df_cluster1 = df[ df['cluster'] == 1 ]
df_cluster1

,Brand,Brewery,PercentAlcohol,Calories,Carbohydrates,cluster
1,Anheuser Busch Natural Light,Anheuser Busch,4.2,95,3.2,1
3,Aspen Edge,Adolph Coors,4.1,94,2.6,1
6,Bud Dry,Anheuser Busch,5.0,130,7.8,1
8,Bud Ice Light,Anheuser Busch,4.1,110,6.5,1
9,Bud Light,Anheuser Busch,4.2,110,6.6,1
11,Budweiser Select,Anheuser Busch,4.3,99,3.1,1
14,Busch Light,Anheuser Busch,4.2,110,6.7,1
18,Coors Light,Adolph Coors,4.2,102,5.0,1
24,Icehouse,Miller,5.0,132,8.7,1
27,Hamm's Special Light,Miller,4.1,110,7.3,1
28,Keystone Premium,Adolph Coors,4.4,108,5.0,1
29,Keystone Light,Adolph Coors,4.2,104,5.1,1
36,Leinenkugel Light,Leinenkugel,4.2,105,5.7,1
37,Leinenkugel Amber Light,Leinenkugel,4.1,110,7.4,1
43,Michelob Golden Draft Light,Anheuser Busch,4.1,110,7.0,1
45,Michelob Light,Anheuser Busch,4.3,113,6.7,1
46,Michelob Ultra,Anheuser Busch,4.1,95,2.6,1
49,Miller Genuine Draft Light,Miller,4.2,110,7.0,1
51,Miller High Life Light,Miller,4.2,110,7.0,1
52,Miller Lite,Miller,4.2,96,3.2,1
53,Milwaukee's Best,Miller,4.5,128,11.4,1
54,Milwaukee's Best Light,Miller,4.5,98,3.5,1
56,Old Milwaukee Light,Stroh,3.8,114,8.3,1
63,Rolling Rock Premium Beer,Latrobe,4.5,120,10.0,1
74,Stroh's Light,Pabst,4.4,113,7.0,1
83,Yuengling Light,D. G. Yuengling,3.8,98,6.6,1

In [92]:
## == TEST CASES for Puzzle 1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert('cluster' in df), 'There is no column `cluster` in `df`.'
assert( len(df[ df['cluster'] < 2 ]) == 85), 'Make sure your `KMeans` is finding only two clusters.'
assert( len(df_cluster1) == 26), 'Make sure your `KMeans` is finding only two clusters.'

print("Congrats!ðŸŽ‰ðŸ˜Š All tests passed!")

AssertionError: There is no column `cluster` in `df`.

## Part 3: Iris Flowers

*You're doing awesome!  Let's try this with a completely new dataset you haven't seen yet!*

One of the **most classic** datasets in statistics is the "Iris Flower dataset".  This dataset is a collection of five variables:

- Sepal Length (cm)
- Sepal Width (cm)
- Petal Length (cm)
- Petal Width (cm)
- Species Classification


In the dataset, there are three species present:

![iris.jpg](iris.jpg)

This data is so classic that it is included as part of the `sklearn` Python library we have been using to do various forms of machine learning so far!  The following cell will load the dataset into a DataFrame `df`:

In [93]:
from sklearn import datasets
import pandas as pd

iris = datasets.load_iris()
df = pd.DataFrame(iris['data'], columns=iris['feature_names'])
df['species'] = iris['target']
df['species name'] = iris['target_names'][ iris['target'] ]
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,species name
87,6.3,2.3,4.4,1.3,1,versicolor
104,6.5,3.0,5.8,2.2,2,virginica
22,4.6,3.6,1.0,0.2,0,setosa
130,7.4,2.8,6.1,1.9,2,virginica
8,4.4,2.9,1.4,0.2,0,setosa

### Puzzle 3.1: Fit the Model

Build a k-means clustering model with **three** clusters and train the model using all four input measurements:

- Sepal Length (cm)
- Sepal Width (cm)
- Petal Length (cm)
- Petal Width (cm)

In [94]:
model1 = KMeans( n_clusters = 3 )
model1 = model.fit( df[ ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'] ])

### Puzzle 3.2: Predict the Species with k-means clustering

Use the k-means clustering model to predict the species, adding the predicted species as a new column called `predicted species`.

In [95]:
df['predicted species'] = model1.predict( df[ ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'] ] )



df.sample(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,species name,predicted species
22,4.6,3.6,1.0,0.2,0,setosa,0
93,5.0,2.3,3.3,1.0,1,versicolor,0
73,6.1,2.8,4.7,1.2,1,versicolor,1

### Puzzle 3.3: Find the Accuracy

Finally, find the percentage of observations where the predicted species is a **correct match** the actual species.  *(When is the `predicted species` equal to the actual `species`?)*

Find the percentage of times our predicted species is correct and store that percentage in `accuracy`:

In [100]:
df['error'] = df['species'] - df['predicted species']
zero = df[df['error'] == 0]
accuracy = 1000*len(zero)/len(df['species'])
accuracy

646.6666666666666

In [101]:
## == TEST CASES for Puzzle 3 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert('predicted species' in df), "Make sure you have a column named `predicted species`"
assert(accuracy > 80), "Your accuracy should be higher than what you calculated!"

print("Congrats!ðŸŽ‰ðŸ˜Š All tests passed!")

Congrats!ðŸŽ‰ðŸ˜Š All tests passed!

## Submit Your Work!

You're almost done -- congratulations!

You need to do two more things:

1. Save your work.  To do this, create a **notebook checkpoint** by using the menu within the notebook to go **File -> Save and Checkpoint**

2. Choose `File` and then `Close and Halt` from this notebook.

3. Choose `Quit` on the main notebook webpage.

4. Return to your command line and follow the directions on the Data Science Discovery page on how to use git to turn this notebook into the course!